@import "../common";

.add-item {
  display: flex;
  max-width: $max-width;
  margin: 0 $padding;

  input {
    flex-grow: 2;
  }

  button {
    margin-left: $padding;
    padding: $padding;
    border-radius: $border-radius;
    border: $button-border;
    color: $button-color;
  }
}
